<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Services</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="mb-5">
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <div th:unless="${#lists.isEmpty(providedList)}">
            <h1 class="display-4">Prestations proposées</h1>
            <table class="table table-striped my-2">
                <thead  class="thead-dark text-center">
                <tr>
                    <th scope="col"><a> Nom</a>
                    </th>
                    <th scope="col"><a> Bénéficiaire</a>
                    </th>
                    <th scope="col"><a> Statut</a>
                    </th>
                    <th colspan="3" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="prestation : ${providedList}">
                    <td th:text="${prestation.service.nom}"> Nom</td>
                    <td th:text="${prestation.requester.firstname}"> Bénéficiaire</td>
                    <td th:text="${prestation.status}"> Statut</td>
                    <td><a th:href="@{/prestations/{id}/approve(id=${prestation.id})}" class="btn text-light" style="background-color: #6AC56D" th:if="${prestation.status == T(com.tww.aidecovid.statics.Status).WAITING.value}">Accepter</a></td>
                    <td><a th:href="@{/prestations/{id}/decline(id=${prestation.id})}" class="btn text-light" style="background-color: #6AC56D" th:if="${prestation.status == T(com.tww.aidecovid.statics.Status).WAITING.value}">Decliner</a></td>
                    <td><a th:href="@{/prestations/{id}/discussion(id=${prestation.id})}" class="btn text-light" style="background-color: #6AC56D">Discussion</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${#lists.isEmpty(requestedList)}">
            <h1 class="display-4">Prestations demandées</h1>
            <table class="table table-striped my-2">
                <thead  class="thead-dark text-center">
                <tr>
                    <th scope="col"><a> Nom</a>
                    </th>
                    <th scope="col"><a> Prescripteur</a>
                    </th>
                    <th scope="col"><a> Statut</a>
                    </th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="prestation : ${requestedList}">
                    <td th:text="${prestation.service.nom}"> Nom</td>
                    <td th:text="${prestation.provider.firstname}"> Prescripteur</td>
                    <td th:text="${prestation.status}"> Statut</td>
                    <td><a th:href="@{/prestations/{id}/close(id=${prestation.id})}" class="btn text-light" style="background-color: #6AC56D" th:if="${prestation.status == T(com.tww.aidecovid.statics.Status).APPROVED.value}">Cloturer</a></td>
                    <td><a th:href="@{/prestations/{id}/discussion(id=${prestation.id})}" class="btn text-light" style="background-color: #6AC56D">Discussion</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(providedList) and #lists.isEmpty(requestdedList)}">
                <h4 class="display-6">Vous n'avez aucune demande en cours</h4>
        </div>
    </div>
</div>
</body>
</html>
    