<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
    <title>Mentions légales et CGU</title>
</head>
<body>
    <div class="container">
        <div layout:fragment="content">
            <div class="row">
                <div class="col col">
                    <h1 class="rounded p-2 text-center text-white mt-3" style="background-color: #81C283">MENTIONS LÉGALES ET CGU </h1><br />
                </div>
            </div>

            <div class="container mt-3" >
                <div class="row">
                    <div class="col-sm text-Dark">
                        <h4 class="text-uppercase"> 1- Préambule </h4>
                        <p> TWW propose une plateforme numérique – ci-après dénommé le Service – qui a pour but de mettre en relation des
                        personnes privées souhaitant s’engager bénévolement à offrir des services, s’informer.
                        Les Usagers choisissent librement les services en ligne auxquels ils souhaitent accéder de façon privilégiée et les données
                        qu’ils souhaitent conserver dans leur compte membre.<br/></p>
                        <p> Toute utilisation du Service suppose la consultation et l’acceptation préalable, complète et entière des présentes Conditions
                        Générales d’Utilisation (CGU).<br/>
                        </p>

                        <p>L’Utilisateur du Service – ci-après dénommé l’Usager – s’engage à respecter l’ensemble des prescriptions définies au sein
                        des présentes CGU.</p>

                        <h4 class="text-uppercase">2- Présentation du site</h4>

                        <p>Adresse : Bruxelles<br/>
                        Propriétaire : TWW ASBL<br/>
                        Créateur : TWW ASBL<br/></p>

                        <h4 class="text-uppercase">3- Objet</h4>

                        <p>La plateforme interactive TWW est un service de mise en relation entre des associations et des usagés souhaitant
                        s’engager bénévolement, s’informer.</p>

                        <h4 class="text-uppercase">4- Réalisation et conception graphique</h4>

                        <p> La conception et les développements graphiques et ergonomiques ainsi que le développement des modèles de
                        pages ont été réalisés par l'ASBL TWW.</p>

                        <h4 class="text-uppercase">5- Conditions générales d´utilisation du site et des services proposés</h4>

                        <p> Le site associations TWW est composé de 4 fonctionnalités :</p>
                        <p>L’espace Bénévolat, qui permet à un Usager de répondre aux offres de missions sur ce même espace, en se créant un
                        compte.</p>

                        <h4 class="text-uppercase"> 6- Définitions</h4>

                        <p>Usager : désigne le citoyen particulier qui utilise le Service afin de participer bénévolement à des actions et
                        missions proposées.</p>
                        <p>Service : désigne le service en ligne de l'usager disponible à la réalisation du service.</p>

                        <h4 class="text-uppercase">7- Opposabilité</h4>

                        <p>En validant son inscription, l’Usager s’engage à respecter les présentes CGU.<br/>

                        Dans tous les cas, à la date de la première utilisation du Service par l’Usager, les CGU sont réputées lues et
                        applicables.<br/>

                        L'ASBL TWW se réserve le droit d’apporter aux CGU toutes les modifications qu’elle jugera nécessaires et utiles.<br/>

                        Les CGU sont opposables pendant toute la durée d’utilisation du Service et/ou jusqu’à ce que de nouvelles
                        dispositions remplacen les présentes.<br/>

                        L'ASBL TWW s’engage à communiquer à l’Usager et l’Utilisateur les nouvelles dispositions.<br/>

                        L'ASBL TWW se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le Service pour des
                        raisons de maintenance ou pour tout autre motif jugé nécessaire. Un message est alors affiché mentionnant cette
                        indisponibilité.<br/>

                        L'ASBL TWW ne peut, par ailleurs, être tenue responsable de tout dysfonctionnement du réseau ou des serveurs ou tout
                        autre événement échappant à ses capacités de contrôle qui empêcherait l’accès au site momentanément.</p>

                        <h4 class="text-uppercase"> 8- Responsabilité</h4>

                        <p>Il appartient aux usagers de la plateforme TWW de déterminer clairement la nature et les conditions de leurs
                        engagements réciproques. Dans la mesure où ils n’interviennent à aucun moment dans les relations entre les parties en présence, l'ASBL TWW
                        ne peut se voirtenus responsables d’un litige né entre les usagers.</p>

                        <p>l'ASBL TWW ne peut être tenue pour responsable, de quelque manière que ce soit, d’éventuels dommages ou dégâts,
                        accidentels ou volontaires, qu’un usager ou d’autres personnes physiques ou morales pourraient subir du fait du comportement
                        d’un autre usager avec lequel ils seraient entrés en contact par l’intermédiaire de la plateforme.</p>

                        <h4 class="text-uppercase"> 9- Droit applicable</h4>
                        <p> Les présentes conditions générales de partenariat sont soumises au droit Belge.</p>

                        <h4 class="text-uppercase"> 10- Médiation – Juridiction</h4>

                        <p> L'ASBL peut intervenir à tout différend qui surviendrait entre eux à une procédure de médiation au cours de laquelle
                        une solution amiable sera recherchée, avant toute action en justice, sauf urgence dûment constatée et recours en
                        conséquence à une procédure de référé déclarée recevable.</p>

                        <p> À défaut de solution trouvée dans le cadre d’un processus de médiation, dans un délai de 5 mois à compter de la
                        désignation d’un médiateur, tout litige sera soumis au tribunal compétent de Bruxelles, auquel compétence exclusive
                        est attribuée.</p>

                        <h4 class="text-uppercase"> 11- Modification des Conditions Générales d'Utilisation</h4>
                        <p> l'ASBL TWW a le droit de modifier les présentes CGU à tout moment et publieront les CGU modifiées. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
