<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/main}">
<head>
    <title>formulaire offre de services</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="mb-5">
        <form method="POST" th:action="@{prestation/propose}" th:object="${prestationDTO}">
            <div class="row">
                <div class="col-sm">
                    <h2 class="rounded p-2 text-center text-white my-2 text-uppercase" style="background-color: #81C283">Proposer votre aide</h2><br />
                </div>
            </div>
            <span class="font-weight-bold">Veuillez indiquer le service que vous voulez proposer :</span>
            <select th:field="*{serviceId}" >
                <option th:each="ser : ${services}" th:value="${ser.id}" th:text="${ser.nom}"></option>
            </select>
            <div>
                <label class="font-weight-bold">Choisissez la date de votre disponibilité :</label>
                <p>
                    <input type="date" th:field="*{date}"/>
                </p>
            </div>
            <div>
                <label class="font-weight-bold">Choisissez l'heure de votre disponibilité:</label>
                <p>
                    <input type="time" th:field=*{time} step="60" value="11: 00" min="09:00" max="18:00">
                    <small>La plage horaire est de 9h à 18h</small>
                <p>
            </div> <br />
            <div class="form-group font-weight-bold">
                <label for="cps">Indiquez les communes qui vous intéresse:</label>
                <small>&nbsp;* pour sélectionner plusieurs communes, tenez la touche
                    CTRL enfoncée et cliquez avec la souris</small>
                <select class="form-control selectpicker" th:field=*{cps} id="cps" multiple>

                    <option th:each="cp : ${T(com.tww.aidecovid.statics.CodePostal).values()}"
                            th:value="${cp.value}"
                            th:text="${cp}">cp
                    </option>

                </select>
            </div>
            <br />
            <div class="form-row py-1">
                <button type="submit" class="btn btn-info">
                    Envoyer votre demande
                </button>  <!--<small>&nbsp;* Vous serez notifier dès qu'une demande se présentera</small>-->
            </div>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>
</body>
</html>
    