<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Bienvenue sur notre site !</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="text-center">
        <h1>
            Bienvenue <span>[[${#request.remoteUser}]]</span> !
            <br/><br/>
            Cette page est accessible aux membres et admin!
        </h1>

    </div>
</div>
</body>
</html>

<!-- <head>
    <title>Liste des membres</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <h1 th:text="${title}">Liste des membres</h1>

        <div class="actions">
            <a th:href="@{/members/create}">Ajouter un nouveau membre</a>
            <br/>
        </div>

        <table th:unless="${#lists.isEmpty(members)}">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.nom}">Bob
                </td>
                <td><a th:text="${member.prenom}" th:href="@{/members/{id}(id=${member.id})}">Sull</a>
                </td>

                <td><a th:href="@{/members/{id}(id=${member.id})}">View</a></td>
                <td><a th:href="@{/members/{id}/edit(id=${member.id})}">Edit</a></td>
                <td>
                    <form th:id="|deleteForm-${member.id}|"
                          th:action="@{/members/{id}(id=${member.id})}" th:method="delete">
                        <a href="#" th:onclick="|if(confirm('Confirm delete member #${member.id}'))
	                    		document.getElementById('deleteForm-${member.id}').submit();
	                    		return false;|">Delete</a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>-->