<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Liste des membres</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="mb-5">
        <h1 th:text="${title}" class="my-2">Liste des membres</h1>

        <div class="actions">
            <a th:href="@{/users/create}" class="btn btn-secondary my-2">Ajouter un nouveau membre</a>
            <br/>
        </div>

        <table th:unless="${#lists.isEmpty(users)}" class="table table-striped my-2">
            <thead  class="thead-dark text-center">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Pénom</th>
                <th scope="col">Nom de l'utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">Langue</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="user : ${users}">
                <td th:text="${user.firstname}">
                    Bennour
                </td>
                <td><a th:text="${user.lastname}">
                    Aymen</a>
                </td>
                <td><a th:text="${user.login}">
                    Nom de l'utilisateur</a>
                </td>
                <td><a th:text="${user.email}">
                    Email</a>
                </td>
                <td><a th:text="${user.langue}">
                    FR</a>
                </td>

                <td class="text-center"><a th:href="@{/users/{id}/edit(id=${user.id})}" class="btn text-light" style="background-color: #6AC56D">Modifier</a></td>
                <td class="text-center">
                    <form th:id="|deleteForm-${user.id}|"
                          th:action="@{/users/{id}(id=${user.id})}" th:method="delete" >
                        <a href="#" th:onclick="|if(confirm('Confirm delete user #${user.id}'))
	                    		document.getElementById('deleteForm-${user.id}').submit();
	                    		return false;|" class="btn text-light" style="background-color: #C70039">Supprimer</a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
