<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Bienvenue dans l'espace discussion du site Entraide Covid19</title>
    <link rel="stylesheet" href="/styles/mainDiscussion.css" />
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <p class="title">Cet espace de discussion est 100% privée</p>
        <p class="title"> Vos messages <strong><font color="#30A486"> ne sont pas enregistrés</font></strong></p>
        <h1 class="title">Entrer votre nom d'utilisateur</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Nom d'utilisateur" autocomplete="off" class="form-control" />
            </div>
            <div>
                <button type="submit" class="accent username-submit">Accèder à l'espace de discution</button>
            </div>
        </form>
        <div class="container">
            <div class="form-group">
                <a href="/">
                    <button type="button" class="accent username-submit">Retour à l'accueil</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Bienvenue dans l'espace de discussion</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Ecrir votre messsage..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Envoyer</button>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="form-group">
                <a href="/">
                    <button type="button" class="accent username-submit">Retour à l'accueil</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>