<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat privé</title>
    <link rel="stylesheet" href="/styles/mainChat.css" />
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card card-bordered justify-content-center">
                        <div class="card-header text-center">
                            <h4 class="card-title text-center font-weight-bold"><strong>Espace de discussion privée avec votre partenaire</strong></h4>
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content">
                            <div id='demo'>
                                <div class="media media-chat">
                                    <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                    <div class="media-body">
                                        <p th:block th:each="mess : ${prestation.discussion.messages}">
                                                <a th:utext="${mess}">..</a>
                                            </th:block>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/prestations/{id}/discussion/addMessage(id=${prestation.id})}" th:object="${message}" th:method="post">
                            <div class="form-group">
                                <div class="input-group clearfix">
                                    <input type="text" id="message" th:field="${message.text}" placeholder="Ecrire votre messsage..." autocomplete="off" class="form-control"/>
                                    <button type="submit" class="btn btn-info"><i class="fa fa-paper-plane"></i>&nbsp; Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--<div class="col-md-5 text-center">
        <ul id="messageArea">
            <th:block th:each="mess : ${prestation.discussion.messages}">
                <li th:utext="${mess}">..</li>
            </th:block>
        </ul>
        <form th:action="@{/prestations/{id}/discussion/addMessage(id=${prestation.id})}" th:object="${message}" th:method="post">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" th:field="${message.text}" placeholder="Ecrire votre messsage..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Envoyer</button>
                </div>
            </div>
        </form>
    </div>-->
</div>
</body>
</html>
