<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Header fragment</title>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Aide Covid 19</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${module == 'home' ? 'active' : ''}">
              <a href="#" th:href="@{/}">Page d'acceuil</a>
            </li>
            <li th:classappend="${module == 'members' ? 'active' : ''}">
              <a href="#" th:href="@{/members}">Members</a>
            </li>

            <li th:classappend="${module == 'discutions' ? 'active' : ''}">
              <a href="#" th:href="@{/discutions}">Espace discutions</a>
            </li>
            <li th:classappend="${module == 'infos' ? 'active' : ''}">
              <a href="#" th:href="@{/infos}">Informations</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
