<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
    <title>Politique de confidentialité et cookies</title>
</head>
<body>
    <div class="container">
        <div layout:fragment="content">
            <div class="row">
                <div class="col col">
                    <h1 class="rounded p-2 text-center text-white mt-3 text-uppercase" style="background-color: #81C283">Politique de confidentialité et cookies </h1>
                    <h5 class="text-center"><u>INFORMATIONS RELATIVES AUX TRAITEMENTS DE DONNÉES PERSONNELLES</u></h5>
                </div>
            </div><br />

            <div class='container'>
                <div class='row'>
                    <div class='col'>
                        <h3>1- Préambule</h3>
                        <p>Une donnée personnelle désigne toute information relative à une personne physique identifiée ou qui peut être
                        identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments
                        qui lui sont propres.</p>
                        <p>Un traitement désigne toute opération ou ensemble d’opérations portant sur des données personnelles et effectuées
                        quel que soit le procédé utilisé, automatisé ou non (collecte, enregistrement, organisation, structuration,
                        conservation, adaptation ou modification, extraction, consultation, utilisation, communication, interconnexion etc.).</p>
                        <p>Le responsable de traitement est la personne morale (entreprise, commune, ASBL etc.) ou physique qui détermine
                        les finalités et les moyens d’un traitement, c’est-à-dire l’objectif et la façon de le réaliser.</p>
                        <p>Le présent document a pour objet de préciser les modalités de mise en œuvre des traitements de données personnelles
                        effectués dans le cadre du Service.</p>
                        <p>L'ASBL s’engage à respecter les dispositions de la loi en vigueure dénommé « Règlement général sur
                        la protection des données » (RGPD) s’agissant des traitements de données personnelles réalisés.</p>

                        <h3>2- Information générale</h3>
                        <p>Les démarches en ligne proposées par le Service sont des traitements de données personnelles effectués par
                        les service del'ASBL TWW.</p>
                        <p>La nature facultative ou obligatoire des données à communiquer à l'ASBL TWW dans le cadre du Service est
                        indiquée à l’Usager. A défaut de fourniture de l’ensemble des données mentionnées comme obligatoires, votre demande ne
                        pourra pas être traitée.</p>
                        <p>Le consentement de l’Usager n'est pas nécessaire lorsque le fondement du traitement est l'exécution d'une mission
                        d'intérêt public.</p>
                        <p>Seuls les services compétents pour traiter la demande et les services habilités sont destinataires des données.
                        Les autres destinataires sont TWW pour les données de transaction en cas de paiement par carte bancaire.</p>
                        <p>De plus, les données ne font pas l’objet d’une communication à un tiers en dehors des cas prévus par la loi. En aucun cas l'ASBL
                        ne transfert les données personnelles hors de l’Union européenne, elles sont conservées uniquement sur le territoire belge
                        et elles ne sont en aucun cas cédées ou vendues à des tiers.</p>
                        <p>L’Usager peut choisir de supprimer toutes les informations de son compte en le supprimant.</p>
                        <p>Par mesure de sécurité, à échéance de huit mois ou 1 an si possible ? de non-utilisation en continu de son compte citoyen,
                        l’espace de stockage ainsi que les données personnelles de l’Usager seront effacées automatiquement.
                        Cette mesure interviendra après deux alertes préalables.</p>

                        <h3>3- Vos droits</h3>
                        <p>Conformément au RGPD et à la loi vous bénéficiez à tout moment pour les données personnelles vous concernant
                        et dans les conditions prévues par la loi, des droits suivants (en fonction de la base légale retenue pour fonder
                        le traitement):</p>

                        <h3>4- Cookies</h3>
                        <p>Lors de l’utilisation du Service des cookies essentiels sont déposés sur le terminal de l’Usager. Ces cookies
                        sont nécessaires pour des raisons purement techniques pour une visite normale du Service. Vu la nécessité technique,
                        seule une obligation d'information s'applique, et ces cookies sont placés dès que vous accédez au Service. </p>
                        <p>Des réglages du navigateur de l’Usager peuvent permettre de les bloquer, avec des effets potentiellement négatifs
                        pour le fonctionnement du Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
