<!DOCTYPE html>
<html lang="fr" >
<head>
    <title>Bienvenue sur le site d'entraide COVID19 !</title>
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="rounded p-2 text-center text-white mt-3 text-uppercase" style="background-color: #81C283">Demander de l'aide </h1><br />  
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row">
            <div layout:fragment="content" class="row justify-content-center mt-3">
                <div class="col col-sm">
                    <form method="POST" th:action="@{user/register}" th:object="${user}">
                        <div>
                            <label class="font-weight-bold">Veuillez indiquer le service que vous voulez demander :</label>  
                            <p>
                                <input type="radio" name="courses" value="courses" id="courses" /> Réalisation des courses</label><br />
                                <input type="radio" name="troc" value="troc" id="troc" /> Troquer des machines, du matériel ou des services</label><br />
                                <input type="radio" name="scolaire" value="scolaire" id="scolaire" /> Un coup de main au niveau scolaire </label><br />
                                <input type="radio" name="depannage" value="depannage" id="depannage" /> Réparation ou de dépannage </label>
                            </p>
                        </div>

                        <div>
                            <label class="font-weight-bold">Cochez les types de vos magasins préférés :</label>
                            <p>
                                <input type="checkbox" name="proximité" id="proximité" /> <label for="proximité">De proximité</label><br />
                                <input type="checkbox" name="grand" id="grand" /> <label for="grand">Grande surface</label>  
                            </p> 
                        </div>    
            
                        <div>
                            <label class="font-weight-bold">Réparation et dépanage :</label>
                            <p>
                                <input type="radio" name="plomberie" value="plomberie" id="plomberie" /> <label for="plomberie">Plomberie</label><br />
                                <input type="radio" name="électricité" value="électricité" id="électricité" /> <label for="électricité">Electricité</label>
                            </p>  
                        </div>  

                        <div>
                            <label class="font-weight-bold">Choisissez la date de la réalisation de votre demande :</label>
                            <p>
                                <input type="date" />
                            </p>  
                        </div>
                    
                        <div>
                            <label class="font-weight-bold">Choisissez l'heure de la réalisation de votre demande:</label>
                            <p>
                                <input type="time" id="appt" name="appt" step="60" value="11: 00" min="09:00" max="18:00">
                                <small>La plage horaire est de 9h à 18h</small>
                            <p>
                        </div> <br />

                        <div class="form-row py-1">
                            <button type="submit" class="btn btn-info">
                                Envoyer votre demande
                            </button>  <small>*  Vous serez notifier dès qu'une personne acceptera votre demande</small>
                        </div>
                    </form>
                </div>

                <div class="col col-sm btn-light">
                    <a>
                        <img src="help.png" class="rounded float-start mx-auto img-fluid my-3 " alt="solidarité"/>
                    </a>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>
    