<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/main}">
<head>
    <title>formulaire offre de services</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="mb-5">

        <div class="row">
            <div class="col-sm">
                <h2 class="rounded p-2 text-center text-white my-2 text-uppercase" style="background-color: #81C283">Demander de l'aide</h2><br />
            </div>
        </div>

        <span class="font-weight-bold">Veuillez choisir une prestation :</span>

        <table th:unless="${#lists.isEmpty(prestations)}" class="table table-striped my-2">
            <thead  class="thead-dark text-center">
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Par</th>
                <th scope="col">Date</th>
                <th scope="col">Communs</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="prestation : ${prestations}">
                <td th:text="${service.nom}"> Service
                </td>
                <td th:text="${prestation.provider.firstname}"> Par
                </td>
                <td><a th:text="${prestation.date}"> Date</a>
                </td>
                <td><a th:text="${prestation.cpList}"> Communs</a>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    </div>
                </td>
                <td class="text-center"><a th:href="@{/prestations/{id}/request(id=${prestation.id})}" class="btn text-light" style="background-color: #6AC56D">Demander</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
